<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="Yorkfield.Core.IServer" address="http://localhost:60000/main/service" contract="Yorkfield.Core.IServer" binding="basicHttpBinding" />
			<endpoint name="Yorkfield.Core.ILog" address="http://localhost:60000/log/service" contract="Yorkfield.Core.ILog" binding="basicHttpBinding" />
		</client>
	</system.serviceModel>
</configuration>