body
{	
	margin: 0 auto;
	width: 920px;
	font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, Sans-serif;
	font-size: 10pt;
	color: #acacac;
}

table
{
	min-width: 800px;
	border: 0;
	background-color: #eee;
	border-collapse: collapse;
}

td
{
	overflow: hidden;
    padding: 4px 4px 5px;
}

tr 
{
	border: 1px Solid #CFCFCF;

    background-color: #f0f0f0;
    color: #323232;
}

tr.header
{
	border: 0;
	background-color: #7f7f7f;
    color: #fff;
    text-align: center;
}

tr.error
{
	color: #9C0006;
	background-color: #FFC7CE;
	border: 0;
}

tr.warning
{
	color: #C06500;
	background-color: #FFEB9C;
	border: 0;
}

tr.information
{
	border: 0;
}

em {
	color: #444;
}

h1 {
	color: #333;
	font-family: 'Segoe UI Light', 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, Sans-serif;
    font-size: 36px;
    font-weight: lighter;
    line-height: 100%;
}